@font-face {
  font-family: "DSEG";
  src: url(./fonts/DSEG14Classic-Regular.ttf) format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  position: relative;
  height: 100dvh;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.main-container {
  /* margin: auto; */
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.calculator {
  max-width: 430px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  padding: 16px;
  background-color:#e9e7e7;
  border-radius: 16px;
  margin: 16px 0 16px 0;
}

.buttons-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  grid-gap: 10px;
  align-items: stretch;
  justify-items: stretch;
}

.screen-wrapper {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  max-height: 150px;
  min-height: 150px;
  margin: 16px 0 16px 0;
  font-family: DSEG;
  background-color: #c7d6af;
  color:#545c48;
}

.screen-wrapper * {
  font-family: DSEG;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
  display: flex;
  text-align: end;
  align-items: flex-end;
  justify-content: flex-end;
  border-radius: 5px;
  margin: 8px 0 8px 0;
  padding: 8px;
  background-color: #c7d6af;
  color:#545c48;
}

.history-screen {
  font-size: 16px;
}

.main-screen {
  font-size: 36px;
}

.button {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  /* border: 1px solid #868686; */
  box-shadow: 1px 2px 1px rgb(172, 170, 170);
  color: #ffffff;
  background-color: #b6b4b4;
  font-weight: bold;
  font-size: 24px;
}

.span-2 {
  grid-column: span 2;
}

.equal.button {
  background-color:#005ed863;
}

.button:active {
  box-shadow: none;
}

.operator {
  background-color: #0082d8;
}

.clear {
  background-color: rgba(255, 0, 0, 0.685);
}

.number {
  background-color: rgba(112, 112, 112, 0.671);
}

.delete {
  background-color: rgb(245, 134, 134);
}